{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comunidad list</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Privada</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comunidad in comunidads %}
            <tr>
                <td><a href="{{ path('comunidad_show', { 'id': comunidad.id }) }}">{{ comunidad.id }}</a></td>
                <td>{{ comunidad.nombre }}</td>
                <td>{% if comunidad.privada %}Yes{% else %}No{% endif %}</td>
                <td>{{ comunidad.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comunidad_show', { 'id': comunidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comunidad_edit', { 'id': comunidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comunidad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
